*{
    margin: 0;padding: ;
}
#main{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    align-self: center;
    justify-self: center ;
    border-radius: 10px;
    background-image: url(assest/abstract-textured-backgound.jpg);
    color: white;
}
.textbox{
    width: 90%;
    height: 40px;
    border-radius: 60px;
    margin: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif';
    font-size: 20px;

}

.btn{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border: none;
    font-family: 'Times New Roman', Times, serif';
    font-size: 20px;
    margin-left: 20px;

}